	<div class="container">
		<div class="row">
		<div class="col-md-12"> 
                        <?php echo $this->Session->flash();?>
				<div class="panel panel-default mrg">
					<div class="panel-heading"><div class="widget-modal"><h4 class="widget-modal-title">View <span>Slides</span><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4></div></div>
					<div class="panel-body">
						<div class="col-md-12"> 
							<div class="row">
								<p><div class="img-thumbnail"><?php echo $this->Html->image($photoImg,array('width'=>1120));?></div></p>
							</div>
						</div>
					</div>	
				</div>
        </div>
		</div>
    </div>
